<h1 class="mb-3">My tasks</h1>
<div class="list-group mb-3">
  <% @tasks.each do |task| %>
    <div class="list-group-item list-group-item-action d-flex align-items-center gap-1">
      <% if task.completed %>
        <i class="fa-regular fa-square-check"></i>
      <% else %>
        <i class="fa-regular fa-square"></i>
      <% end %>
      <%= link_to task.title, task_path(task), class: ["flex-grow-1", "fw-semibold", "text-decoration-none"] %>
      <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to new_task_path do %>
  <div class="btn btn-secondary btn-sm"><i class="fa-solid fa-plus"></i> Add a task</div>
<% end %>
