<div class="d-flex align-items-center mb-3">
<h1 class="flex-grow-1"><%= @task.title %></h1>
<%= link_to edit_task_path(@task) do %>
  <div class="btn btn-secondary btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit this task</div>
<% end %>
</div>
<div class="card mb-3">
  <div class="card-body">
    <%= @task.details %>
  </div>
</div>
<% if @task.completed %>
  <p><i class="fa-regular fa-square-check"></i> This task is completed.</p>
<% else %>
  <p><i class="fa-regular fa-square"></i> This task is not completed yet.</p>
<% end %>
<hr>
<%= link_to tasks_path do %>
  <div class="btn btn-secondary btn-sm"><i class="fa-solid fa-list"></i> Back to list</div>
<% end %>
